<section id="photos">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">
  <img src="https://placeimg.com/640/480/animals" alt="Cute cat">

</section>
