<section id="photos">

  <% @local_resturants[0..9].each do |restaurant| %>
  <% @meals =  Unsplash::Photo.search("food").sample["urls"]["thumb"]  %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= @meals %>'" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> <%= restaurant[:name] %></h5>
        <!-- <div class="card-text"> -->
          <!-- <p>Opening hours: <%# restaurant[:opening_hours] %></p> -->
          <!-- <p>Address: <%# restaurant.details[:vicinity] %></p> -->
        <!-- </div> -->
        <a href="#" class="btn btn-primary"> Details</a>
      </div>
    </div>
  <% end %>
</section>



<!-- id: r['place_id'],
name: r['name'],
opening_hours: r['opening_hours'],
details: {
  types: pd['types'],
  vicinity: pd['vicinity']
} -->
