
<div class="container welcome">
  <h1>
    Welcome
  </h1>
  <div class="container">
    <div class="row">
      <h2><i class="fas fa-search"></i></h2>
        <p>Search for your favorite food!</p>
    </div>
    <div class="row">
      <h2><i class="fas fa-map-marker"></i></h2>
      <p>See all the local menus!</p>
    </div>
    <div class="row"><h2><i class="fas fa-filter"></i></h2>
      <p>Filter by your favorite types or diet requirments!</p>
    </div>

  </div>

</div>
