<div class="container welcome">
  <h1>
    Welcome
  </h1>
  <div class="container">
    <div class="row">
      <h2>
        <i class="fas fa-search"></i>
        Search for your favorite food!
      </h2>
    </div>
    <div class="row">
      <h2>
        <i class="fas fa-map-marker"></i>
        See all the local menus!
      </h2>
    </div>
    <div class="row">
      <h2>
        <i class="fas fa-filter"></i>
        Filter by your favorite types or diet requirments!
      </h2>
    </div>
  </div>
  <hr class="my-4">
    <div class="signup">
      <p>Order in a takeaway, it's just a few clicks away</p>
      <p class="lead">
        <%= link_to('Sign Up', new_user_registration_path, class: 'btn btn-success btn-lg', title: 'Sign UP') %>
      </p>
    </div>
  </div>
