
<div class="container welcome">
  <h1>
    Welcome
  </h1>
  <div class="container">
    <div class="row">
      <h2>
        <i class="fas fa-search"></i>
        Search for your favorite food!
      </h2>
    </div>
    <div class="row">
      <h2>
        <i class="fas fa-map-marker"></i>
        See all the local menus!
      </h2>
    </div>
    <div class="row">
      <h2>
        <i class="fas fa-filter"></i>
        Filter by your favorite types or diet requirments!
      </h2>
    </div>
  </div>

</div>
