body {
  background-image: url(background_dark.png);
  background-size: cover;
  font-family: 'Roboto', sans-serif;

  color: snow;
}

html, body {
  height: 100%;
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1{
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2vw;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1vw;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  margin: 2em;
  grid-gap: 1em;
}

.welcome {
  padding: 1em;
}
.row  {

}

.alert {
  position: sticky;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0;
}
