<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          Contact Us
        </div>
        <div class="col">
          |
        </div>
        <div class="col">
          About
        </div>
        <div class="col">
          |
        </div>
        <div class="col">
          Press
        </div>
        <div class="col">
          |
        </div>
        <div class="col">
          ©2018 FoodéMe
        </div>
      </div>
    </div>
  </div>
</footer>
