<header>
  <div class="tp-background">
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-1">
            <%= link_to root_path do %>
            <div class="logo">
              <%= image_tag "logo-f.png" %>
              <% end %>
            </div>
          </div>
          <!-- <div class="col-8">
            <h2 id="foode">FOODÉ</h2>
          </div> -->
          <div class="col-3">
            <!-- <ul class="hmenu"> -->
              <%= render 'devise/menu/registration_items' %>
              <%= render 'devise/menu/login_items' %>
            <!-- </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
