
<div class="container navigation">
  <div class="row justify-content-center">
    <div class="col">
      <i class="fas fa-map-marker"></i>
    </div>
    <div class="col">
      |
    </div>
    <div class="col">
      ADDRESS
    </div>
    <div class="col">
      |
    </div>
    <div class="col">
      ORDER TYPE
    </div>
    <div class="col">
      |
    </div>
    <div class="col">
      FILTER
    </div>
    <div class="col">
      |
    </div>
    <div class="col">
      FAVORITES
    </div>
  </div>
</div>
